

/*body {
  font-size: 14px;
  background-color: #fdfdfd;
  font-family: "Josefin Sans", sans-serif;
}



h1 {
  margin: 0, auto, 0, auto
}


/*label {
  display: block;
}*/





/*.timer {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  background-color: tomato;
  border-radius: 50%;
  position: relative;
}

.timer::before {
  content: " ";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 290px;
  width: 290px;
  background-color: #fdfdfd;
  border-radius: 50%;
}*/



/*.time {
  width: 100%;
  text-align: center;
}

.time::after {
  content: " ";
  display: block;
  clear: both;
}

#minutes {
  font-size: 6em;
  float: left;
  margin-left: 25%;
}

#seconds {
  font-size: 4em;
  float: left;
}

button, .submit {
  height: 30px;
  width: 60x;
  margin: 5px;
  margin-top: 10px;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: tomato;
  border: none;
  color: #fdfdfd;
  cursor: pointer;
}

.input-group {
  margin-top: 20px;
  float: left;
  width: 50%;
  padding: 10px;
}

.inputs::after {
  content: " ";
  display: block;
  clear: both;
}
*/