
  #jumboColor {
    background-color: rgb(200, 93, 60);
  }
  
  
  #buttonPlce {
    padding: 20px;
  }
  
  .timeEl {
    color: white;
  }

  #timerStyle {
      background-color: white;
      width: 25%;
      margin-left: auto;
      margin-right: auto; 
  }
  
 .container {
    background-image: linear-gradient(rgba(104, 93, 93, 0.5), rgb(231, 88, 44));
  } 
   body {
    /* background-image: url(violaImage.png); */
       background-image: linear-gradient(rgba(104, 93, 93, 0.5), rgb(200, 93, 60)); 
      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: fixed;
      background-position: center;
    }


  
  
  